body{
    margin: 0px;
    background-color: #1786F1;
}

.banner{
    width: 100%;
    height: auto;
}
h2 {
    text-align: center;
}
.info-show{
    color:#FFFFFF;
    font-family: Roboto;
    display:flex;
    justify-content: center;
}

.review {
    text-align: justify;
}

.container-show {
    max-width: 400px;
    width: 100%;
}

.container-btn {
    display:flex;
    justify-content: center;
}

.btn-shopp{
    color:#495057;
    background-color: #FFC107;
    border-color: #FFC107;
    border-radius:5px;
    padding:8px 15px;
    border:0px;
    transition:background-color .10s ease-in-out;
}

.btn-shopp:hover{
    background-color: #ffc107e8;
}

#writer{
    color:#FFFFFF;
    text-align: center;
    padding: 28px 0px;
    background-color: #1656a6;
}

.bed-sheet{
    background: rgba(172, 170, 170, 0.76);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
}
.container-modal{
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
}
.modal {
    background-color: #1786F1;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
    text-align: center;
}
.title-modal{
    display: flex;
}

.title-modal--item{
    flex: 1;
}
 
.title-modal--item-right{
    display: flex;
    align-items: center;
    justify-content: end;
}

.icon-card{
    width: 183px;
    height: 27px;
    left: 747px;
}










