body {
    margin: 0px;
    background-color: #1786F1;
}

.banner {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

.info-show {
    color:#FFFFFF;
    font-family: Roboto;
    display:flex;
    justify-content: center;
}

.event-data {
    display: flex;
    align-items: center;
}

.review {
    text-align: justify;
}

.container-show {
    max-width: 400px;
    width: 100%;
}

.container-btn {
    display:flex;
    justify-content: center;
}

.btn-shopp-pay {
    color:#495057;
    background-color: #FFC107;
    border-color: #FFC107;
    border-radius:5px;
    padding:8px 15px;
    border:0px;
    transition:background-color .10s ease-in-out;
}

.btn-shopp-pay:hover {
    background-color: #ffc107e8;
}

.writer{
    color:#FFFFFF;
    text-align: center;
    padding: 28px 0px;
    background-color: #1656a6;
}

.bed-sheet {
    background: rgba(172, 170, 170, 0.76);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    display: none;
}
.bed-sheet.show-bed-sheet {
    display: block;
}

.container-modal {
    display:flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
}

.modal {
    position: relative;
    background-color: #1786F1;
    color: #FFFFFF;
    font-family: Roboto;
    width: 400px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.flex.gap1 {
    gap: 7px;
}

.flex.gap2 {
    gap: 14px;
}

.flex-mid {
    flex: 1;
}
 
.title-modal--item-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.wrap-personal-data {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.wrap-card-data {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 7px;
    margin-top: 21px;
}

.icon-card {
    width: 183px;
    height: 27px;
    left: 747px;
}
.input-text {
    padding: 5px;
    border-radius: 5px;
    border: 1px #495057;
}
.wrap-btn-pay{
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.back {
    text-align: center;
    margin-top: 21px;
   
}
.btn-link{
    background: none;
    border: none;
    color: #FFFFFF;
    text-decoration: underline;
    cursor: pointer;
}

.wrap-message-error.show {
    display: block;
}

.wrap-message-error {
    display: none;
    font-size: 12px;
    color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 14px;
    margin-top: 14px;
    text-align: center;
}

